{% extends 'base.html' %}

{% block content %}
<div class="d-grid mb-3">
    <a href="{% url 'expenses:post_category' %}" class="btn btn-primary btn-lg">Add category</a>
</div>
<div class="row g-3">
    {% for category in content %}
    <div class="col-md-4">
        <div class="card" style="border-color: {{ category.color }}; border-width: 2px">
            <div class="card-body">
                <h5 class="card-title">{{ category }} - {{ category.usefulness }}</h5>
                <a href="{% url 'expenses:update_category' category.pk %}" class="btn btn-secondary">Change</a>
                <a href="{% url 'expenses:read_expenses_by_category' category.pk %}" class="btn btn-info">Expenses</a>
                <a href="{% url 'expenses:delete_category' category.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
