{% extends 'base.html' %}

{% block content %}
<div class="d-grid mb-3">
    <a href="{% url 'expenses:statistics_groups' %}" class="btn btn-success btn-lg">Return to groups</a>
</div>
<h5>Choose date interval to get respective expenses</h5>
<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-4">
            <div class="form-floating">
                {{ form.date_from }}
                <label for="{{ form.date_from.id_for_label }}">{{ form.date_from.label }}</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                {{ form.date_to }}
                <label for="{{ form.date_to.id_for_label }}">{{ form.date_to.label }}</label>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr class="border border-secondary border-1 opacity-50">
<h5>Group total cost: {{ group_total_cost }}</h5>
<div class="row g-3" data-masonry='{"percentPosition": true }'>
    {% for user, ui in users_info.items %}
    <div class="col-md-4">
        <div class="d-grid">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#card-{{ user }}" aria-expanded="false" aria-controls="card-{{ user }}">{{ user }}
            </button>
        </div>
        <div class="collapse" id="card-{{ user }}">
            <div class="card card-body mt-2">
                <ul class="list-group list-group-flush">
                    {% for category, cat_info in ui.categories_info.items %}
                    <li class="list-group-item">
                        <span style="color: {{ cat_info.color }}"><b>{{ category }}</b></span>
                        {{ cat_info.category_total_cost }} ({{ cat_info.category_percentage }}%)
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <b>{{ user }} total cost: {{ ui.user_total_cost }}</b>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
