{% extends 'base.html' %}

{% block content %}
<h5>Choose date interval to get respective expenses</h5>
<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-4">
            <div class="form-floating">
                {{ form.date_from }}
                <label for="{{ form.date_from.id_for_label }}">{{ form.date_from.label }}</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating">
                {{ form.date_to }}
                <label for="{{ form.date_to.id_for_label }}">{{ form.date_to.label }}</label>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<hr class="border border-secondary border-1 opacity-50">
<h5>Total cost: {{ content.user_total_cost }}</h5>
<div class="row g-3">
    {% for category, info in content.categories_info.items %}
    <div class="col-md-4">
        <div class="card" style="border-color: {{ info.color }}; border-width: 2px">
            <h5 class="card-header" style="color: {{ info.color }}">{{ category }}</h5>
            <div class="card-body">
                Category total cost: {{ info.category_total_cost }} ({{ info.category_percentage }}%)
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
