{% extends 'base.html' %}

{% block content %}
<div class="d-grid">
    <a href="{% url 'expenses:read_receipt' receipt.pk %}" class="btn btn-success btn-lg">Return to the
        receipt</a>
</div>
{% if form.instance.pk %}
<a href="{% url 'expenses:read_expenses_by_category' form.instance.category.pk %}"
   class="btn btn-success btn-lg btn-block mt-3">Return to the category</a>
{% endif %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-4">
        {% include 'inclusions/form.html' with btn_text='Submit' %}
    </div>
</div>
{% endblock %}