{% extends 'base.html' %}

{% block content %}
<div class="d-grid gap-3 mb-3">
    <a href="{% url 'expenses:receipts' %}" class="btn btn-success btn-lg">Return to receipts</a>
    <a href="{% url 'expenses:post_expense' receipt.pk %}" class="btn btn-primary btn-lg">Add expense</a>
</div>
<div class="row g-3">
    {% for expense in content %}
    <div class="col-md-4">
        <div class="card" style="border-color: {{ expense.category.color }}; border-width: 2px">
            <div class="card-body">
                <h5 class="card-title">{{ expense }}</h5>
                <a href="{% url 'expenses:update_expense' receipt.pk expense.pk %}"
                   class="btn btn-secondary">Change</a>
                <a href="{% url 'expenses:delete_expense' receipt.pk expense.pk %}"
                   class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
