{% extends 'base.html' %}

{% block content %}
<div class="d-grid mb-3">
    <a href="{% url 'expenses:post_receipt' %}" class="btn btn-primary btn-lg btn-block">Add receipt</a>
</div>
<div class="row g-3">
    {% for receipt in content %}
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">{{ receipt }}</h5>
            <div class="card-body">
                <p class="card-text">Purchase time: {{ receipt.purchase_time }}</p>
                <p class="card-text">Total cost: {{ receipt.total_cost }}</p>
                <a href="{% url 'expenses:update_receipt' receipt.pk %}" class="btn btn-secondary">Change</a>
                <a href="{% url 'expenses:read_receipt' receipt.pk %}" class="btn btn-info">Show expenses</a>
                <a href="{% url 'expenses:delete_receipt' receipt.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
