{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for group in content %}
        <div class="col-md-4">
            <div class="card mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ group }}</h5>
                    <a href="{% url 'expenses:group_statistics' group.pk %}" class="btn btn-info btn-block">Read statistics</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
