{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'users:post_group' %}" class="btn btn-primary btn-lg btn-block mt-3">Add group</a>
    <div class="mt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {% for group in content %}
        <div class="col-md-4">
            <div class="card mb-3 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ group }}</h5>
                    <a href="{% url 'users:read_group' group.pk %}" class="btn btn-info">Info</a>
                    {% if user == group.customgroup.admin %}
                    <a href="{% url 'users:update_group' group.pk %}" class="btn btn-secondary">Change</a>
                    <a href="{% url 'users:delete_group' group.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
