{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-4">
        <h2 class="text-center">{{ title }}</h2>
        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
        {% include 'inclusions/form.html' with btn_text='Change my password' %}
    </div>
</div>
{% endblock %}