{% extends 'base.html' %}

{% block content %}
<div class="d-grid mb-3">
    <a href="{% url 'users:groups' %}" class="btn btn-success btn-lg">Return to groups</a>
</div>
<div class="row">
    <div class="col-md-3">
        <h5 class="text-left">Group: {{ group.name }}</h5>
        <h5 class="text-left">Admin: {{ group.customgroup.admin }}</h5>
    </div>
    {% if group.customgroup.description %}
    <div class="col"><p>{{ group.customgroup.description }}</p></div>
    {% endif %}
</div>
{% if user == group.customgroup.admin %}
    <form class="my-2" method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-4">
                <div class="form-floating">
                    {{ form.user }}
                    <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form.user.errors|striptags }}
                </div>
            </div>
            <div class="col-md-4 align-self-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endif %}
<h5>Users:</h5>
<div class="row g-3">
    {% for user in content %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
