{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-6">
            <h1 class="text-center mb-4">{{ title }}</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-right">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                        <div class="text-danger">
                            {{ field.errors|striptags }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="d-grid gap-2 text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
